/* =============
    Base
============= */
figure{
    padding: 0;
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}


a{
  text-decoration: none;
}



#element1{
    position: fixed;
    top: 30px;
    left:5vw;
    color:$accent;
    background-color: $white;
}


// adjustments to FullPage css

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: $accent !important;
    color: $accent;
}

#fp-nav ul, .fp-slidesNav ul {
        margin-left: 5vw !important;
}

#fp-nav ul li .fp-tooltip{
    color: $accent !important;
    font-family: nimbus-sans-extended, sans-serif;
    font-weight: 400;
    font-size: rem-calc(10);
    @include md{
        font-size: rem-calc(14);
    }
}
