/* =============
    Hero
============= */
#hero{
    @include section-padding;
    background-image: url('../img/hero/mobile.png');
    background-size: contain;
    background-position: center 100px;
    background-repeat: no-repeat;
    background-color: $dusk;
    position: relative;
    height: 100vh;
    display: flex;
    @include sm{
        background-position: center 50px;
    }
    @include md{
        background-position: center center;
    }
    @include lg{
        background-image: url('../img/hero/desktop.png');
        background-position: right center;
    }
    @include xl{
        background-position: center center;
    }



    h2{
        color: $accent;

        @include sm{
            padding-top: 40px;
            padding-left: 40px;
        }

        @include md{
            padding: 0;
            position: absolute;
            left: 45%;
            width: 30vw;
            top: 60%;
        }
        @include lg{
            left: 10%;
            width: 20vw;
            top: 40%;
        }
    }
    img{
        height: 20vh;
        margin-top: 35vh;
        @include sm{
            margin-left: 5%;
        }
        @include md{
            height: auto;
            margin-top: 0;
            position: absolute;
            left: 20%;
            bottom: 15%;
            margin-left: 0;
        }
        @include lg{
            left: 10%;
            bottom: 15%;
        }
    }
}
