/* =============
    map
============= */
#map {
    @include section-padding;
    background-image: url('../img/map.svg');
    background-size: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: $light;
    display: grid;
    grid-template-areas:
    "g1";


    @include lg{
        grid-template-areas:
        ". g1 ";
        grid-template-columns: auto 900px auto;
    }

    >div{
        grid-area: g1;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        display: grid;
        img{
            height: 200px;
        }


        ul{
            display: grid;
            grid-template-areas:
            "g1" "g2";
            grid-gap: 24px;
            grid-template-rows: auto;

            @include md{
                grid-template-areas: "g1 g2 g3";
                grid-gap: 40px;
                grid-template-rows: auto;
                padding-top: 200px
            }
            li{
                height: 300px;
                background-size: contain;
                background-repeat: no-repeat;
            }
            li:nth-child(1){
                grid-area: g1;
                background-image: url('../img/sketch/car.png');
            }
            li:nth-child(2){
                grid-area: g2;

                justify-content: center;
                align-items: center;
                margin: 0 auto;
            }
            li:nth-child(3){
                grid-area: g3;
                background-image: url('../img/sketch/house.png');
            }
        }

    }

}
