/* =============
    upcoming
============= */
#type{
    background-image: url('../img/type/words1.svg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;

}
