/* =============
    upcoming
============= */
#type {
    overflow: hidden;
    background-color: $light;
    @include section-padding;

    .sliding-background{

        // height: 100px;
        // width: 1000px;
        // animation: slide 950s linear infinite;
        svg{
            height: 100vh;
            grid-area: g1;
        }

        display: grid;
        grid-template-areas:
        "g1";



        @include xl{
            grid-template-areas:
            ". g1 ";
            grid-template-columns: auto 900px auto;
        }
    }
    // @keyframes slide {
    //     0% {
    //         transform: translate3d(10px, 0%, 0);
    //     }
    //
    //     100% {
    //         transform: translate3d(10px, -100%, 0);
    //     }
    // }
}
