/* =============
    Buttons
============= */
button {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
    border-radius: 50px;
    color: $white;
    background-color: $dusk;
    font-size: rem-calc(16);
    font-weight: 900;
    cursor: pointer;
    display: inline-block;
    font-family: nimbus-sans-extended, sans-serif;
    font-weight: 400;
    padding: 0.5rem 2rem;
    text-align: center;
    text-decoration: none;
    transition: background 250ms ease-in-out, transform 150ms ease;
    margin: 32px 0;
}

button:hover,
button:focus {
    background: $accent;
    color: $white;
}
