/* =============
    Buttons
============= */
.circle-container {
    background-color: $accent;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


    // margin-bottom: 24px;
}

.circle-text{
    position: absolute;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    h2 {
        color: $white;
        text-align: right;
        // padding: 40px;
        transform: rotate(-10deg);
    }
}


// justify-content: center;
// align-items: center;
// border-radius: 100%;
// text-align: center;
// display: flex;
